# datasets==4.2.0
# torch==2.8.0
# transformers==4.56.2
# trl==0.23.0
# unsloth==2025.10.7
# --extra-index-url https://download.pytorch.org/whl/cu124
torch==2.5.0
transformers==4.40.2
trl==0.8.6
datasets==2.18.0
unsloth==2024.11.9
--extra-index-url https://download.pytorch.org/whl/cu120